header {
    background: pink;     
    padding: 20px;       
    color: #333;         
    text-align: center;   
}

header li {
    display: inline; 
    margin: 0 15px;     
}

header a {
    text-decoration: none;
    color: black;         
}

#about {
    max-width: 800px;     
    margin: 0 auto;        
    padding: 20px; 
    text-align: center;   
}

#about img {
    width: 250px;        
    border-radius: 20px; 
    margin-bottom: 20px;  
}

#about p {
    margin-bottom: 10px;
}